@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#topo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 70px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.068);
}

.menu {
    height: 100%;
    align-content: center;
}

.menu ul{
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.menu li {
    list-style: none;
    padding: 15px;
    margin: 2px;
    height: 20px;
}

.menu a {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: #063841;
    
}

.menu a:hover {
    color: #0b778a;
    
}

.menuhover {
    display: flex;
    align-items: center;
    align-content: center;
}

.menuhover:hover {
    background-color: #063841;
    height: 5px;
    border-radius: 10px;
    color: white;
}

.contat {
    display: none;
}

#conteudo {
    background-image: url('imagens/bg4.png');
    background-repeat: repeat;
    background-size: cover;
    padding: 0px 15px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
}



.informacoes {
    display: block;
    margin: auto 0px;
}

.inf {
    
    h1 {
        font-size: 2.5em;
        color: #063841;
    }

    h2 {
        font-size: 1.6em;
        font-weight: lighter;
        margin-bottom: 5px;
        color: #0b778a;
    }

    p {
        max-width: 430px;
        line-height: 1.4em;
    }
}

.rede {
    margin-top: 30px;
    
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.rede a {
    color: #063841;
    background-color: white;
    border-radius: 15px;
    font-size: 1.9em;
    padding: 10px 30px;
    
    transition: background-color 0.5s, color 0.5s;
}

.rede a:hover {
    background-color: #063841;
    color: white;
    padding: 15px 50px;
}

#conteudo .img {
    display: flex;
    margin: 0px auto;
    align-self: flex-end;
    max-height: 46%;
}

.img > img {
    max-height: 10px;
}



