@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.img {display: none;}

#boneco-interativo {
    width: 450px;
    height: 700px;
    background-image: url('imagens/boneco4.png');
    background-repeat: no-repeat;
    margin: 0px auto;
    align-self: flex-end;
}

#conteudo {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: flex-end;
    background-image: url('imagens/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#topo {
    position: absolute;
    width: 100vw;
    height: 70px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.068);
}

.menu {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    height: 100%;
    align-content: center;
}

.menu ul{
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}

.menu li {
    list-style: none;
    padding: 23px;
    margin: 5px;
    
}

.menu a {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: #063841;
    
}

.menu a:hover {
    color: #0b778a;
    
}

.menuhover {
    display: flex;
    align-items: center;
    align-content: center;
}

.menuhover:hover {
    background-color: #063841;
    height: 5px;
    border-radius: 10px;
    color: white;
}

.contat {
    font-weight: bold;
    border: 2px solid #063841;
    height: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 25px;
}

.contat:hover {
    border: 2px solid #063841;
    background-color: #063841;
    color: white;
}

#container {
    height: 100vh;
    width: 100vw;
}

.informacoes {
    height: 500px;
    display: block;
    margin: auto 0px;
    align-content: center;
}

.inf {
    
    h1 {
        font-size: 4em;
        color: #063841;
    }

    h2 {
        font-size: 2.6em;
        font-weight: lighter;
        margin-bottom: 5px;
        color: #0b778a;
    }

    p {
        max-width: 430px;
        line-height: 1.4em;
    }
}

.rede {
    margin-top: 100px;
}

.rede a {
    color: #063841;
    background-color: white;
    border-radius: 15px;
    font-size: 3em;
    padding: 10px 40px;
    margin-right: 20px;
    transition: background-color 0.5s, color 0.5s;
}

.rede a:hover {
    background-color: #063841;
    color: white;
    padding: 15px 50px;
}




