@charset "UTF-8";

:root {
    --cor-texto-padrao: #ffffff;
    --cor-destaque: #B9FB5D;
    --cor-destaque-efeito: #9cd64b;
    --cor-fundo: #161B21;
    --cor-fundo-maior: #0C1114;
}

    .hamburger { display: none; }
    .nav-menu { display: block; position: static; }

    #menu-container span {
        display: none;
    }

    header#menu-container {
        display: flex;
        height: 0px;
    }

    #nav-menu {
        position: sticky;      
        top: 50px;
        grid-area: 1 / 2;
        margin: auto;
        margin-top: 20px;
    }

    #nav-menu ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgba(65, 65, 65, 0.322);
        border-radius: 8px;
        height: 50px;
        width: 69vw;
        padding-right: 20px;
        border: 1px solid rgba(179, 179, 179, 0.205);
        gap: 10px;
      
    }

    .menuu li {
        height: 50px;
        color: var(--cor-texto-padrao);
        font-weight: bold;
        transition: background-color 0.5s, color 0.5s;
        align-content: center;
        padding: 0px 10px;
        transition: background-color 0.8s, color 0.8s;
    }

    .menuu li:hover {
        color: var(--cor-destaque);
        height: 50px;
       
    }

    #nav-menu a {
        text-decoration: none;
    }

    #nav-menu .contatos {
        border: 2px solid var(--cor-destaque);
        border-radius: 10px;
        padding: 7px 15px;
        align-content: center;
        color: var(--cor-destaque);
        transition: background-color 0.8s, color 0.8s;
    }

    #nav-menu .contatos:hover {
        border-radius: 10px;
        padding: 7px 15px;
        align-content: center;
        color: var(--cor-fundo);
        background-color: var(--cor-destaque);
    }

    .fundo01 {
        background-image: url('../imagens/topo.jpg');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: cover;
        background-attachment: fixed;
        display: grid;
        height: 600px;
        background-color: var(--cor-fundo);
        grid-template-rows: 15px 50px 15px 1fr 100px 90px;
        grid-template-columns: 225px 1fr 225px;
    }

    .fundo01 .text-top {
        grid-area: 4 / 2;
        width: 100%;
        margin-top: 30px;

        h2 {
            margin-top: 30px;
            font-size: 1.92em;
        }

        h1 {
            font-size: 2.7em;
        }

        p {
            width: 31vw;
            font-size: 1.2em;
        }
    }

    .fundo01 .botao01 {
        grid-area: 5 / 2;
    }
    .bt01, .bt02 {
        width: 40vw;
        max-width: 400px;
    }

    .fundo01 span {
        grid-area: 6 / 2;
    }

    .grid-ferra {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        background-color: var(--cor-fundo-maior);
    }

    .fundo02 {
        width: 100vw;
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ferramentas {
        display: block;
        width: 400px;
        margin: 15px;
    }

    section.ferra {
        height: 40px;
    }

    .soft {
        height: 200px;
        align-items: center;
    }

    .soft i {
        font-size: 8em;
        height: 150px;
        width: 160px;
        margin: 10px;
        transition: font-size 0.5s, height 0.5s;
        
    }

    .soft i:hover{
        font-size: 10em;
        height: 120px;
        width: 160px;
        margin: 10px;
    }

    abbr {
        text-decoration: none;
    }

    