@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: none;
}

:root {
    --cor-texto-padrao: #ffffff;
    --cor-destaque: #B9FB5D;
    --cor-destaque-efeito: #9cd64b;
    --cor-fundo: #161B21;
    --cor-fundo-maior: #0C1114;
}

header#menu-container {
    display: grid;
    background-color: var(--cor-fundo);
    width: 100vw;
    height: 80px;
    border-bottom: 2px solid var(--cor-destaque);
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 80px 1fr;
}

#menu-container span {
    display: flex;
    font-size: 3em;
    grid-area: 1 / 2 ;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

#menu .material-symbols-outlined {
    font-size: 3em;
}

main {
    width: 100vw;
}

.fundo01 {
    background-image: url('../imagens/topo.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    height: 380px;
    background-color: var(--cor-fundo);
    grid-template-rows: 30px 1fr 100px 60px;
    grid-template-columns: 10% 1fr 15%;
}

.fundo01_ {
    display: grid;
    height: 350px;
    background-color: var(--cor-fundo);
    grid-template-rows: 30px 1fr 1fr 60px;
    grid-template-columns: 15% 1fr 15%;
}

.fundo01 .text-top {
    grid-area: 2 / 2 / -2 / -2;
    max-width: 300px;
    

    h2 {
        color: var(--cor-texto-padrao);
    }

    h1 {
        color: var(--cor-destaque);
        padding-bottom: 5px;
    }

    p {
        color: var(--cor-texto-padrao);
        font-size: 0.9em;
        text-align: justify;
        line-height: 1.4em;
    }
}

.fundo01 .botao01 {
    grid-area: 3 / 2 / 4 / 3;
}

.botao01 {
    display: block;
    margin: auto;
}

.bt01 {
    background-color: var(--cor-destaque);
    text-align: center;
    width: 80vw;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--cor-fundo);
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.bt01:hover {
    background-color: var(--cor-destaque-efeito);
    box-shadow: 0px 0px 25px var(--cor-destaque);
    color: var(--cor-texto-padrao);
    cursor: pointer;
}

.bt02 {
    border: 2px solid var(--cor-destaque);
    color: var(--cor-destaque);
    font-weight: bold;
    text-align: center;
    width: 80vw;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.bt02:hover {
    border: 2px solid var(--cor-destaque);
    background-color: var(--cor-destaque);
    box-shadow: 0px 0px 25px var(--cor-destaque);
    color: var(--cor-texto-padrao);
    cursor: pointer;   
}

span {
    grid-area: 4 / 2;
    text-align: center;
    color: var(--cor-destaque);
    display: flex;
    align-content: center;
}

.fundo02 {
    background-color: var(--cor-fundo-maior);
    height: 320px;
    display: block;
    align-content: center;
}

.ferramentas {
    margin: 20px;
}
.ferra {
    color: var(--cor-texto-padrao);
    text-align: center;
    align-content: center;
    font-size: 0.9em;
}

.soft {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: var(--cor-fundo);
    border-radius: 8px;
   
}

.soft i{
    background-color: var(--cor-fundo-maior);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: var(--cor-destaque);
    
    transition: font-size 0.5s, height 0.5s;
}

.soft i:hover {
    font-size: 6em;
}

abbr {
    text-decoration: none;
}

.apren {
    text-align: center;
    color: var(--cor-texto-padrao);
    font-size: 0.9em;
}

.apren02 {
    grid-area: 6 / 2;
    color: var(--cor-destaque);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo);
    border-radius: 8px;
    margin-bottom: 10px;
}

.apren02 i{
    background-color: var(--cor-fundo-maior);
    width: 95px;
    height: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: var(--cor-destaque);
}





footer {
    background-color: var(--cor-destaque);
    font-weight: bold;
    text-align: center;
    height: 35px;
    align-content: center;
    color: var(--cor-fundo-maior);
    border-top: 5px solid var(--cor-destaque-efeito);
}
